.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 300px;
  grid-gap: 20px
}

#clock {
  display: inline;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#employStaff {
  display: inline;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.btn {
  display: block;
}

#receiptBox {
  font-family: monospace;
  width: 200px;
  height: 300px;
  background-color: linen;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

#stockBox {
  font-family: monospace;
  width: 200px;
  height: 300px;
  background-color: linen;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#messageBox {
  overflow: auto;
  height: 500px;
  font-family: monospace;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

#debug {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}