#display {}

#clock {
  width: 100%;
  height: 100%;
}

#control {
  display: inline;
}

.btn {
  display: block;
}

#receiptBox {
  font-family: monospace;
  width: 200px;
  height: 300px;
  float: left;
  background-color: linen;
  margin-left: 100px;
}

#stockBox {
  font-family: monospace;
  width: 200px;
  height: 300px;
  float: left;
  background-color: linen;
}

#messageBox {
  overflow: auto;
  height: 200;
  width: 500;
}